<img src="https://bsbr.com.br/wp-content/uploads/2018/05/01_logo-bsbr-padrao-med.png" width="200"/>

**by: [João Ataíde](https://www.joaoataide.com/)**
___

# **WEEK 1 - ESTATÍSTICA BÁSICA**
**Instituto Business School Brasil <br>
MBA Pesquisa Operacional e Tomada de Decisão<br>
Disciplina de Estatítica <br>
Prof. Thiago Marques <br>**


## O que é estatística?
*   Área da ciência encarregada em *Coletar, organizar, descrever, analisar e implementar dados para extrair conclusões*
*   *Torturar dados até os dados darem a resposta*


## Áreas da estatística

*   `[Descritiva]` - **Organizar** e **Descrever** os dados os dados que podem ser usados em tabelas e gráficos.
    *   `[Mediadas Posição]` - **Tendência central**: Grau de concentração dos dados, **EX: Média, Moda, Mediana e Medidas Separatrizer** 
    *   `[Medidas de Dispersão]` - Grau de dispersão dos dados em torno de uma medida de posição, **EX: Desvio Padrão, Variáncia, Cieficiente de Variação**
*   `[Probabilidade]` - **Descrever fenômenos aleatórios**, aqueles que contêm incertezas
*   `[Amostragem]` - Conjunto de Técnicas para **estimar e obter informações**, permitir encontrar parâmentros com base uma população.
    *    `[População]` - *CONCEITO:* Todos indivíduos com mesma característica do seu estudo
*   `[Inferência]` - Estimar fenômenos de uma amostra para uma população

## O que é Data Science?
Extrair insights com base em dados: <s> $ Estatística + TI + Negócio$

## Etapas análise estatística

**População** ⇌ **Amostragem** ⇌ **Amostra** ⇌ **Informações Contidas nos dados** ⇌ **Conclusão sobre as características das população** ⇌ **População**

## Conceitos Básicos

*   `[Censo]` - Exame de todos os Elementos da **população**
*   `[Dados Brutos]`- Forma *Primitiva* dos dados, desprovidos de pré-processamento e **não ordenados**
*   `[Rol Estatístico]` - Dados brutos já **ordenados**, de ondem decrescente e crescente

## Dados Tabelados
### Frequências [ $f$ ]
*   `Contagem simples` $f_{i}$ - Contagem direta das classes
*   `Contagem acumulada` $f_{ac}$ - Contagem acumulada até a classe de interesse
*   `Relativa simples` $f_{r}$ - Contagem simples, soma das frequências simples que prepresenta proporção ou percentual de observações
*   `Relativa acumuladas` $f_{rac}$ - Participação acumulada de cada classe de interesse, dividido pela soma das frequências
*   `Distribuição de classe` $f_{classe}$ - Comportamento por classe

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhKXLrhVnS_qPf92p5eUKlKCJfvbZM7xLSBA&usqp=CAU" width="50"/>

## **PRÁTICA EM R**

In [ ]:
#instalando lib
install.packages("devtools",lib='/usr/lib/R/library')

In [ ]:
#instalar libs pelo github
devtools::install_github("juba/rmdformats", force = TRUE)
devtools::install_github("glin/reactable", force = TRUE)

In [6]:
vector_pacote = c(
    "rmdformats",
    "reactable",
    "dplyr",
    "kableExtra"
)

In [148]:
# Primeiros passos - Criando Vetor
idade = c(
    10, 10, 10, 10, 30, 30,30, 30,30,
    30,40,30,50,50,50,50,70,70,70,90
    )

print(idade)

 [1] 10 10 10 10 30 30 30 30 30 30 40 30 50 50 50 50 70 70 70 90

In [108]:
#Criando vetor de outra forma
idade2 = c(rep(10, 4), rep(30, 8), rep(50, 4), rep(70, 3), 90)

idade2

 [1] 10 10 10 10 30 30 30 30 30 30 30 30 50 50 50 50 70 70 70 90

In [150]:
# Frequência simples
frequencia_simples = table(idade)
frequencia_simples

idade
10 30 40 50 70 90
 4  7  1  4  3  1

In [110]:
#Colocando no Visual excel
dados_simples = data.frame(frequencia_simples)
dados_simples

  idade Freq
1 10    4
2 30    7
3 40    1
4 50    4
5 70    3
6 90    1

In [111]:
#Ver o banco todo (Não recomendável para bancos gigantescos)
View(dados_simples)

  idade Freq
1 10    4
2 30    7
3 40    1
4 50    4
5 70    3
6 90    1

In [112]:
#Ver as n primeiras linhas do data.frame
head(dados_simples, 2)

  idade Freq
1 10    4
2 30    7

In [115]:
tail(dados_simples, 2)

  idade Freq fa
5 70    3    19
6 90    1    20

In [113]:
#Frequência acumulada
frequencia_acumulada = cumsum(frequencia_simples)
frequencia_acumulada

10 30 40 50 70 90
 4 11 12 16 19 20

In [116]:
#Adicionando coluna com acumulada
dados_simples$fa = frequencia_acumulada
dados_simples

  idade Freq fa
1 10    4     4
2 30    7    11
3 40    1    12
4 50    4    16
5 70    3    19
6 90    1    20

In [117]:
#Frequência relativa simples
frequencia_relativa_simples = frequencia_simples / sum(frequencia_simples)
frequencia_relativa_simples

idade
  10   30   40   50   70   90
0.20 0.35 0.05 0.20 0.15 0.05

In [118]:
#Proporção direta entre as fequências (Relativa)
prop.table(frequencia_simples)

idade
  10   30   40   50   70   90
0.20 0.35 0.05 0.20 0.15 0.05

In [119]:
#Adicionando a Frequência relativa simples
dados_simples$frs = frequencia_relativa_simples
dados_simples

  idade Freq fa frs
1 10    4     4 0.20
2 30    7    11 0.35
3 40    1    12 0.05
4 50    4    16 0.20
5 70    3    19 0.15
6 90    1    20 0.05

In [120]:
# Frequência relativa acumulada
frequencia_relativa_acumulada = frequencia_acumulada / sum(frequencia_simples)
frequencia_relativa_acumulada

  10   30   40   50   70   90
0.20 0.55 0.60 0.80 0.95 1.00

In [121]:
#Frequência relativa acumulada(Segunda forma)
frequencia_relativa_acumulada = cumsum(frequencia_relativa_simples)
frequencia_relativa_acumulada

  10   30   40   50   70   90
0.20 0.55 0.60 0.80 0.95 1.00

In [122]:
#Criando a variavel frequencia_relativa_acumulada
dados_simples$fra = frequencia_relativa_acumulada
dados_simples

  idade Freq fa frs  fra
1 10    4     4 0.20 0.20
2 30    7    11 0.35 0.55
3 40    1    12 0.05 0.60
4 50    4    16 0.20 0.80
5 70    3    19 0.15 0.95
6 90    1    20 0.05 1.00

## Explicando as vantagens do pipe
**BASE FOG**<br>

$f(g(x))$ <br>

```
funçao_3 ( funçao_2( funçao_1( head( dadossimples ))))
```


**TIDYVERSE GOF**<br>
$g(f(x))$<br>

```
dadossimples %>% head() %>% funcao_1() %>% funcao_2() %>% funcao_3()
```

### Habilitando o Pipe

In [97]:
install.packages("dplyr",lib='/usr/lib/R/library')
library(dplyr)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [136]:
#Calcular usando a lib mutate
dados_simples_tidy = dados_simples %>% mutate(
    frequencia_acumulada = cumsum(Freq),
    frequencia_relativa_simples = Freq / sum(Freq),
    frequencia_relativa_acumulada = cumsum(frequencia_relativa_simples)
  )

dados_simples_tidy

  idade Freq fa frs  fra  frequencia_acumulada frequencia_relativa_simples
1 10    4     4 0.20 0.20  4                   0.20
2 30    7    11 0.35 0.55 11                   0.35
3 40    1    12 0.05 0.60 12                   0.05
4 50    4    16 0.20 0.80 16                   0.20
5 70    3    19 0.15 0.95 19                   0.15
6 90    1    20 0.05 1.00 20                   0.05
  frequencia_relativa_acumulada
1 0.20
2 0.55
3 0.60
4 0.80
5 0.95
6 1.00

In [144]:
#Dropar coluna
dados_simples_tidy = dados_simples_tidy[,-(6:8),drop=FALSE]
dados_simples_tidy

  idade Freq fa frs  fra
1 10    4     4 0.20 0.20
2 30    7    11 0.35 0.55
3 40    1    12 0.05 0.60
4 50    4    16 0.20 0.80
5 70    3    19 0.15 0.95
6 90    1    20 0.05 1.00

In [147]:
#Mudar nome de coluna
names(dados_simples_tidy)[1] = 'IDADE'

In [146]:
#Dados simples ordenados
dados_simples_ordenado = dados_simples_tidy %>% arrange(desc(Freq))
dados_simples_ordenado

  IDADE Freq fa frs  fra
1 30    7    11 0.35 0.55
2 10    4     4 0.20 0.20
3 50    4    16 0.20 0.80
4 70    3    19 0.15 0.95
5 40    1    12 0.05 0.60
6 90    1    20 0.05 1.00

In [152]:
#Exportar como CSV
write.csv2(dados_simples_tidy, "/content/dados_simples.csv", row.names = F)